<h1>Update Stock Order</h1>

<form action="/stocks/<%= @stocks.id  %>" method="post">
  <label for="stock_level">Add or Remove Stock:</label>
  <select name="stock_level">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select><br>
  
 
   <label for="name"> Buy Price:</label>
   <input type="text" name="buy_price" value="<%= @stocks.buy_price %>"><br>

   <label for="name"> Sell Price:</label>
   <input type="text" name="sell_price" value="<%= @stocks.sell_price %>"><br>

  <input type='submit' value="Submit Stock Order">
</form>