<h2>Stock Levels</h2>

<% @stocks.each do |stock| %>
  
  <p>

  <b>Product ID:</b> <%= stock.album_id() %><br>
  
  <b>Quantity:</b> <%= stock.stock_level() %><br>

  <b>Product Name:</b> 
  <% stock.albums.each do |album| %>
      <%= album.name %>
      <% end %><br>
    

  <b>Artist:</b>
    <% stock.albums.each do |album| %>
      <% album.artists.each do |artist| %>
      <%= artist.name  %>
      <% end %>
      <% end %>
    
    </p>
    <hr>

<% end %>
