<h1>Add Stock Order to IMS</h1>

<form action="/stocks" method="post">
  <label for="name">Album:</label>
  <select name="album_id">
      <% @albums.each do |album| %>
        <option value="<%= album.id %>"><%= album.name %></option>    
      <%  end %>
  </select>
  
  <input type='submit' value="Submit Stock Order">
</form>