
<b>Quantity:</b>
<p><%= @stocks.stock_level %></p>

<b>Album:</b>
<% @stocks.each do |stock| %>
<p> <%= stock.album_id %></p>
<% end %>

<form action="/stocks/<%= @stocks.id %>/edit" method="get">
  <input type="submit" value="Edit Stock">
</form>

<form action="/stocks/<%= @stocks.id  %>/delete" method="post">
  <input type="submit" value="Delete Stock">
</form>