<h1>Product Stock Details:</h1>

<b>Quantity:</b>
<p><%= @stocks.stock_level %></p>

<b>Product:</b>
<% @stocks.albums.each do |album| %>
<p><%= album.name %></p>
<% end %>

<form action="/stocks/<%= @stocks.id %>/edit" method="get">
  <input type="submit" value="Update Stock Order">
</form>

<form action="/stocks/<%= @stocks.id  %>/delete" method="post">
  <input type="submit" value="Delete All Stock">
  WARNING! Should only be used if a product is entered in error or is being discontinued.
</form>