<h1>Edit Artist</h1>

<form action="/artists/<%= @artists.id  %>" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @artists.name %>">
  
  <input type='submit' value="Submit">
</form>