<h1>Current Stock Inventory:</h1>

<ul>
  <% @artists.each do |artist| %>
    <li>
    <%= artist.name %>
      <ul>
        <% artist.albums.each do |album| %>
          <li><%= album.name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>