<ul>
  <% @stocks.each do |stock| %>
    <ul>
      <% stock.artists.each do |artist| %>
          <li><%= artist.name %></li>
        <% end %>
        <% stock.albums.each do |album| %>
            <li><%= album.name %></li>
          <% end %>
      </ul>
  <% end %>
</ul>