<!doctype html>
<html lang='en'>
  <head>
    <title>HARVEYS.</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
 
  <div class="titlesquare">
    <div class="titlecircle"> 
      <a href="/" class="titlebutton">HARVEYS.</a>
    </div> 
  </div>

  <ul>
    <li><a href="/artists/new">Add Artist</a></li>
    <li><a href="/albums/new">Add Album</a></li>
    <li><a href="/stocks/new">Add Stock Order</a></li>
    <li><a href="/stocks">Stock Management</a></li>
    <li><a href="/index">Inventory</a></li>
  </ul>
  
    <%= yield %>
  
  </body>
</html>