<h1>Add Album to Library</h1>

<form action="/albums" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="artist_id:">Artist ID:</label>
  <input type="number" name="artist_id">
  
  <input type='submit' value="Submit Album">
</form>