body {
  background-color: tomato;
  margin: 0px;
  font-family: helvetica;
  color: aliceblue;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 50px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: aliceblue;
    color: grey;
}

input {
  background-color: white;
  color: black;
  font-family: helvetica;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
   border: 3px solid black;
}

.titlebutton {
  top: 40px;
  position: relative;
  color: black;
  font-family: helvetica;
  font-size: 28px;
  text-decoration: none;
  transition: background-color 5s;
}

.titlesquare {
  background-color: aliceblue;
  height: 200px;
  width: 200px;
  position: relative;
  top: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  float: button;
}

.titlecircle {
  width: 150px;
  height: 150px;
  background-color: tomato;
  border-radius: 50%;
  position: relative;
  top: 25px;
  left: 0px;
  font-family: helvetica;
  font-size: 30px;
  color: black;
  display: inline-block;
}

.hometitle {
  text-align: center;
  font-size: 30px;
}

.homeimage {
  background-image: url("http://www.modern-canvas-art.com/ekmps/shops/robboweb1/images/the-clash-london-calling-canvas-art-painting-1436-p.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.title {
  color: black;
}

.link:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: white;
}

.footer {
  top: 100px;
  font-size: 12px;
}



