<h2>Albums in Database</h2>

<% @albums.each do |album| %>
  <p><b>Artist ID:</b> <%= album.artist_id() %><br>
  
  <b>Product Name:</b> <%= album.name() %><br>
  
  <b>Artist:</b>
    <% album.artists.each do |artist| %>
      <%= artist.name %>
      <% end %>
    </p>
    <hr>
<% end %>


