<h1>Add Product to IMS.</h1>

<form action="/albums" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="name">Artist:</label>
  <select name="artist_id">
      <% @artists.each do |artist| %>
        <option value="<%= artist.id %>"><%= artist.name %></option>    
      <%  end %>
  </select>
  
  <input type='submit' value="Submit">
</form>