<h1>Add Artist to IMS.</h1>

<form action="/artists" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
 
  <label for="name">Genre:</label>
  <select name="genre">
      <option value="Indie/Alternative Rock">Indie/Alternative Rock</option>
      <option value="Hardcore">Hardcore</option>
      <option value="Shoegaze">Shoegaze</option>
      <option value="Electronica/IDM">Electronica/IDM</option>
      <option value="Post-Hardcore">Post-Hardcore</option>
      <option value="Prog/Psychedelia">Prog/Psychedelia</option>
      <option value="Punk Rock">Punk Rock</option>
      <option value="Post-Punk">Post-Punk</option>
    </select>

  <input type='submit' value="Submit Artist">
</form>